:root {

    // Common Color 
    --white: #FFFFFF;
    --disable-grey: #D8D8D8;
    --background: #FAFBFB;


    --transition: all 400ms cubic-bezier(0.215, 0.610, 0.355, 1);
    --jerk-transition: all 500ms cubic-bezier(0.77, 0.0, 0.175, 1);


}