.footer-container {
    position: relative;
    height: 70%;
    width: 100%;
    max-height: 900px;
    min-height: 200px;
    background-image: url("/deer.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // background-image: linear-gradient(to bottom, var(--blue-grey) , var(--background));

    @media screen and (max-width: 780px) {
        height: 75vh;
        min-height: 550px;
    }

    @media screen and (max-width: 480px) {
        height: 90vh;
        min-height: 760px;
        max-height: 850px;
    }

    .content-container {
        position: absolute;
        left: 0;
        bottom: 20px;
        min-height: 210px;
        height: calc(400px - 8vw);
        width: 100%;
        padding: 0 3.6vw;
        // background-color: aqua;
        display: grid;
        grid-template-columns: 1fr 0.33fr 0.33fr;
        grid-template-rows: 1fr 0.33fr;

        @media screen and (max-width: 780px) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1.5fr 1.5fr 1fr;
            height: 65vh;
            bottom: 0;
        }

        @media screen and (max-width: 480px) {
            grid-template-rows: 1.5fr 1.5fr 1.5fr 1fr;
            height: 80vh;
            min-height: 720px;
        }

        @media screen and (max-width: 380px) {
            grid-template-rows: 1.5fr 1.5fr 1.5fr 1fr;
            height: 85vh;
        }

        .about {
            grid-area: 0/1/0/2;
            margin-right: 10%;

            .website-link {

                font-size: 1rem;
                opacity: 0.8;
                text-decoration: underline;
                letter-spacing: 0.5px;
            }

            .about-text {

                font-size: 1rem;
                text-align: left;
                color: var(--navy-blue);
                opacity: 0.8;
                margin: 20px 0;

                @media screen and (max-width: 780px) {
                    font-size: clamp(0.9rem, 2vw, 1rem);
                }
            }

            .copyright {

                font-size: 0.8rem;
                text-align: left;
                color: var(--navy-blue);
                opacity: 0.6;
                font-style: italic;
            }

            @media screen and (max-width: 780px) {
                grid-area: 1/1/2/4;
                margin-bottom: 30px;
                margin-right: 0;
            }
        }

        .student {
            grid-area: 0/2/0/3;
            margin-right: 5%;

            @media screen and (max-width: 780px) {
                grid-area: 2/1/3/2;
                margin-right: 5%;
            }

            @media screen and (max-width: 480px) {
                grid-area: 2/1/3/4;
                margin-right: 0;
            }
        }

        .company {
            grid-area: 0/3/0/4;

            @media screen and (max-width: 780px) {
                grid-area: 2/2/3/3;
                margin-right: 0;
                margin-left: 5%;
                margin-bottom: 30px;
            }

            @media screen and (max-width: 480px) {
                grid-area: 3/1/4/4;
                margin-right: 0;
                margin-left: 0;
                margin-top: 20px;
            }
        }

        .title {

            font-size: 1rem;
            text-align: left;
            color: var(--navy-blue);
            letter-spacing: 1.5px;
            opacity: 0.8;
            margin-bottom: 10px;
        }

        .column {
            display: flex;
            flex-direction: column;
            justify-content: baseline;
            align-items: baseline;

            a {

                font-size: 0.8rem;
                text-align: left;
                color: var(--navy-blue);
                opacity: 0.6;
                margin-bottom: 5px;
                transition: var(--transition);
                cursor: pointer;

                &:hover {
                    transition: var(--transition);
                    color: var(--teal);
                }
            }
        }

        .footer-bottom {
            display: flex;
            grid-area: 2/1/3/4;
            justify-content: space-between;
            align-items: flex-end;

            @media screen and (max-width: 780px) {
                grid-area: 3/1/4/4;
                margin-right: 0;
                flex-direction: column;
                align-items: flex-start;
            }

            @media screen and (max-width: 480px) {
                grid-area: 4/1/5/4;
            }

            .privacy-container {
                margin-top: 45px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-end;
                height: 100%;

                a {
                    margin-right: 10px;

                    &:last-child {
                        margin-right: 0;
                    }
                }

                @media screen and (max-width: 780px) {
                    margin-top: 5px;
                    order: 2;
                    align-items: flex-start;
                }

                .small-text {

                    font-size: 0.618rem;
                    text-align: left;
                    color: var(--navy-blue);
                    opacity: 0.6;
                    transition: var(--transition);
                    cursor: pointer;
                    margin-right: 20px;

                    &:last-child {
                        margin-right: 0;
                    }

                    &:hover {
                        transition: var(--transition);
                        color: var(--teal);
                    }
                }
            }

            .social-media {
                grid-area: 2/3/3/4;
                display: flex;
                flex-direction: row;
                justify-content: end;
                align-items: flex-end;
                cursor: pointer;

                .icons {
                    height: 25px;
                    width: 25px;
                    margin-right: 10px;
                    color: var(--navy-blue);
                    transition: var(--transition);

                    &:hover {
                        transition: var(--transition);
                        color: var(--teal);
                    }
                }
            }
        }
    }
}